#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  /* text-align: center; */
  color: black;
}
*{
  margin: 0;
  padding: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App-header{
  background-color: var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--body_color);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-link{
  color: var(--link_color);
}
.App{
  background-color: black;
  color: black;
}

.flex{
  display: flex;
  flex-direction: wrap;
}

.shoping-card{
  justify-content: space-between;
  background-color: aquamarine;
  padding: 20px;
}